<a href="/" style="text-align: center">
  <h2>Go Back</h2>
</a>
<section style="margin-inline: auto; width: fit-content; width: 20%;">
  <h2 style="text-align: center;">LOGIN PAGE</h2>
  <form (submit)="abc($event)">
    Enter Username: <br /> <input type="text" #mi1x style="width: 100%;" /><br /><br />
    Enter Password: <br /> <input type="password" #mi2 style="width: 100%;" /><br /> <br />
    Role:
    <select #mi3 style="width: 100%;">
      <option>STAFF</option>
      <option>ADMIN</option>
    </select>
    <br />
    <br />
    <div style="display: flex; gap: 1em;">
      <input type="submit" style="width: 100%;" value="LOGIN" />
      <input type="reset" style="width: 100%;" value="RESET" />
    </div>
  </form>
</section>