<div class="form-container">
    <h2>LOGIN PAGE</h2>
    <form (submit)="abc($event, role.value)">
        <div class="input-container">
            <i class='bx bxs-user'></i><input type="text" placeholder="Username" />
        </div>
        <div class="input-container">
            <i class='bx bxs-lock-alt'></i> <input type="password" placeholder="Password" />
        </div>
        <div class="role-container">
            <label for="" class="role-option"><input type="radio" name="role" value="STAFF"
                    #role><span>STAFF</span></label>
            <label for="" class="role-option"><input type="radio" name="role" value="ADMIN"
                    #role><span>ADMIN</span></label>
        </div>
        <div class="button-container">
            <input class="submit-btn" type="submit" value="LOGIN" />
            <input class="submit-btn" type="reset" value="RESET" />
        </div>
    </form>
</div>