<form (submit)="studentAdd($event)" style="width: 80%; padding: 1em;">
    Enter registration no.: <br /> <input type="number" style="width: 100%;" /> <br /><br />
    Enter name: <br /> <input type="text" style="width: 100%;" /> <br /> <br />
    Enter roll no.: <br /> <input type="number" style="width: 100%;" /> <br /> <br />
    Enter school: <br /> <input type="text" style="width: 100%;" /> <br /> <br />
    Enter standard: <br /> <input type="number" min="1" max="12" style="width: 100%;" /> <br /> <br />
    <div style="display: flex; gap: 1em">
        <input type="submit" value="ADD" style="width: 100%;" />
        <input type="reset" value="RESET" style="width: 100%;" />
    </div>
</form>