<h2 style="text-align: center; color: blue">WELCOME!!</h2>
<h3 style="text-align: center">
    A Student Management System (SMS) welcome page provides a centralized, secure dashboard designed
    to streamline administrative, academic, and communication tasks for administrators, teachers, and
    parents. It acts as a gateway to features like student data management, attendance tracking, and
    performance monitoring.
</h3>

<a href="/login" style="text-align: center">
    <h2>Login to access</h2>
</a>